<h1>Hacker News Central</h1>


<% @posts.each do |post| %>
  <div><a href="<%=user_post_path(post.user_id,post.id)%>"><%= post.title %></a>
       <%= post.created_at.asctime %></div>
    <%end%>

<% if logged_in? %>
  <a href="<%=logout_path%>">Log Out</a>
  <% else %>
  <a href="<%= login_path%>">Log In</a>
  <a href="<%= new_user_path%>">Sign Up</a>
  <br><br>
  <%end%>

